*{
    margin:0px;
    padding: 0px;
}
h1{ text-align: center;
    box-shadow: none;
    
}

.container{
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    gap:0px;
   border: 1px solid black;
 width:100%;
 justify-content: center;
 align-items: center;
 height: 100%;
 position: relative;
 display:flex;
 flex-direction: column;
 align-items: center;
 height: 100vh;
}
.item{
    height: 150px;
    width: 700px;
    border:3px solid black;
    box-shadow: 10px 20px 30px 40px  rgb(222, 91, 15) ;

}
.saffron{
  
    background-color: rgb(255, 123, 0);
}
.white{
    background-color: #fff;
}
.green{
    background-color: green;
}
.circle{
    position:relative;
    border-radius: 50%;
    display:flex;
    flex-direction:row;
    background-color: #201d1d;
    height: 100px;
    width: 100px;
   margin-top:23px;
   margin-left: 40%;
}

.white{
    box-shadow: 10px 20px 30px 40px  rgb(219, 239, 222) ;
}
.green{
    box-shadow: 10px 20px 30px 40px  rgb(15, 222, 50) ;
}
.circle:hover{
    background-color: #fff;
    border-color: black;
    border: 2px solid black;
    transition: 5s;
}
.greenh1{
    box-shadow: none;
}
h1{
    font-size: 5rem;
}
